	<div id="content">
	  <aside id="featured" class="article">
	    	<h3 class="category">Featured</h3>
	    	<div class="image">
	    	<%= image_tag(@articles.first.picture.url, alt: "featured article") if @articles.first.picture? %>
	    	</div>
	    	<div class="right">
	    	<h2><%= @articles.first.title %></h2>
	    	<p>By Author on Date in Tags</p>
	    	<p class="body"><%= @articles.first.body %></p>
	    	<%= link_to "read more...", @articles.first %>
	    	</div>
	  </aside>
	  <section id="articles">
	  	<% @articles.each_with_index do |article, index| %>
	  		<% if index != 0 %>
	  			<section class="article-columns">
	  			<h3 class="category">Recent</h3>
	  			<div class="image">
	    		<%= image_tag(article.picture.url, alt: "featured article") if article.picture? %>
	    		</div>
	    		<div class="right">
	    		<h2><%= article.title %></h2>
	    		<p>By Author on Date in Tags</p>
	    		<p class="body"><%= article.body %></p>
	    		<%= link_to "read more...", article %>
	    		</div>
	    		</section>
	  		<% end %>
	  	<% end %>
	  </section>
	</div>