	<div id="content">
		<% if logged_in? %>
		<p><%= link_to "Add article", new_article_path, { class: "user-links" } %></p>
		<% end %>
	  <aside id="featured" class="article">
	  	<% articles = @articles %>
	  	<% unless articles.empty? %>
	  		<% unless @featured.nil? %>
	    		<h3 class="category">Featured</h3>
	    		<div class="image">
	    		<%= image_tag(@featured.picture.url, alt: "featured article", :class => "article-thumbs") if @featured.picture? %>
	    		</div>
	    		<div class="right">
	    		<h2><%= @featured.title %></h2>
	    		<p>
	    		By <%= link_to @featured.user.name, @featured.user %> on <%= @featured.date %> in 
	    		<% @featured.tags.each do |tag| %>
	    		<%= link_to tag.name, tag %>
	    		<% end %>
	    		</p>
	    		<p class="body"><%= @featured.body %></p>
	    		<%= link_to "read more...", @featured,
	    							{ :class => "read-more" } %>
	    		</div>
	    		<% articles.to_a.delete(@featured) %>
	    		<% end %>
	    <% end %>
	  </aside>
	  <%= render partial: "layouts/articles", locals: {articles: articles[0..5]} %>
	  <%= link_to "<< older entries", articles_path, { class: "clear" } %>
	</div>