	<div id="content">
	  <aside id="featured" class="article">
	  	<% if @articles.empty? %>
	  		<p>No articles found.</p>
	  	<% else %>
	    	<h3 class="category">Featured</h3>
	    	<div class="image">
	    	<%= image_tag(@articles.first.picture.url, alt: "featured article") if @articles.first.picture? %>
	    	</div>
	    	<div class="right">
	    	<h2><%= @articles.first.title %></h2>
	    	<p>
	    	By Author on <%= @articles.first.date %> in 
	    	<% @articles.first.tags.each do |tag| %>
	    		<%= link_to tag.name, @articles.first %>
	    	<% end %>
	    	</p>
	    	<p class="body"><%= @articles.first.body %></p>
	    	<%= link_to "read more...", @articles.first,
	    							{ :class => "read-more" } %>
	    	</div>
	    <% end %>
	  </aside>
	  <%= render 'layouts/articles' %>
	</div>