<p>
<%= link_to "Edit", edit_article_path(@article) %> | 
<%= link_to "Delete", @article, method: :delete, data: { confirm: "Delete article?" } %>
</p>

<h1><%= @article.title %></h1>

<body>

<p><%= image_tag @article.picture.url if @article.picture? %></p>
<p><%= @article.body %></p>

</body>