<section class="articles">
  <% articles.each do |article| %>
  <section class="article-columns">
      <h3 class="category">Recent</h3>
      <div class="image">
        <%= image_tag(article.picture.url, :class => "article-thumbs") if article.picture? %>
      </div>
      <div class="right">
        <div class="article-preview">
        <h2><%= article.title %></h2>
        <p>
          By <%= link_to article.user.name, article.user %> 
          on <%= article.date %> in 
          <% article.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
          <% end %>
        </p>
        <p class="body"><%= article.body %></p>
        </div>
      <%= link_to "read more...", article,
      { :class => "read-more" } %>
    </div>
  </section>
  <% end %>
</section>