<header id="banner">
    <nav id="nav-other">
      <ul>
        <li><a href="#">about us</a></li>
        <li><a href="#">contact us</a></li>
        <% if logged_in? %>
          <li><%= link_to "logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "register", signup_path %></li>
          <li><%= link_to "login", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <h1><a href="index.html"></a></h1>
    <nav id="nav-main">
      <ul>
        <li><%= link_to "HOME", root_url, { :class => "active" } %></li>
        <li><%= link_to "iOS", tag_url(Tag.new(:name => "ios")) %></li>
        <li><%= link_to "ANDROID", tag_url(Tag.new(:name => "android")) %></li>
        <li><a href="#">POPULAR</a></li>
        <li><a href="#">TOP REVIEWS</a></li>
        <li><a href="#">FORUMS</a></li>
      </ul>
    </nav>
    <form id="search-box">
      <input id="search" type="search" placeholder="Search...">
    </form>
  </header>