<header id="banner">
    <nav id="nav-other">
      <ul>
        <li><%= link_to "about us", about_url %></li>
        <li><%= link_to "contact us", contact_url %></li>
        <% if logged_in? %>
          <li><%= link_to "logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "register", signup_path %></li>
          <li><%= link_to "login", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <h1><a href="index.html"></a></h1>
    <nav id="nav-main">
      <ul>
        <li><%= link_to "HOME", root_url, { :class => "active" } %></li>
        <li><%= link_to "iOS", tag_url(Tag.new(:name => "ios")) %></li>
        <li><%= link_to "ANDROID", tag_url(Tag.new(:name => "android")) %></li>
        <li><%= link_to "POPULAR", popular_url %></li>
        <li><%= link_to "TOP REVIEWS", top_url %></li>
        <li><%= link_to "FORUMS", forums_url %></li>
      </ul>
    </nav>
    <%= render :partial => 'articles/search' %>
  </header>